:root {
  /**
   * colors
   */
  --monkey-orange: #ff7e01;
  --monkey-dark-brown: #4d3a2d;
  --monkey-light-brown: #6d5c4e;
  --monkey-white: #ffffff;
  --monkey-black: #000000;
  --monkey-cream: #f5f5f5;
  --monkey-beige: #fff0e1;
  --monkey-dark-green: #2c3722;

  /**
   * typography
   */
  --ff-nunito: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * transition
   */
  --transition: 0.25s ease;

  /**
   * spacing
   */
  --section-padding: 100px;

  /**
   * shadow
   */
  --shadow-1: 0 5px 20px 0 hsla(0, 0%, 0%, 0.1);
  --shadow-2: 0 16px 32px hsla(0, 0%, 0%, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
button,
i {
  display: block;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-nunito);
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  background: var(--monkey-white);
  font-family: var(--ff-nunito);
  color: var(--monkey-light-brown);
  padding-top: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.monkey4 {
  padding-inline: 15px;
}

.monkey12 {
  display: inline-block;
}

.monkey23 {
  background: var(--monkey-orange);
  color: var(--monkey-white);
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.monkey23 i {
  font-size: 18px;
}

.monkey34 {
  color: var(--monkey-orange);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.monkey35 {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-600);
  line-height: 1.4;
}

.monkey24 {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  line-height: 1.3;
  margin-bottom: 20px;
}

.monkey27 {
  color: var(--monkey-white);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid var(--monkey-orange);
  border-radius: 4px;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.monkey27::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateX(-100%);
  background: var(--monkey-white);
  transition: var(--transition);
}

.monkey27:is(:hover, :focus)::before {
  transform: translateX(0);
}

.monkey27:is(:hover, :focus) {
  color: var(--monkey-orange);
  border-color: transparent;
}

.monkey27 {
  background: var(--monkey-orange);
  color: var(--monkey-white);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid var(--monkey-orange);
  border-radius: 4px;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.monkey27::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateX(-100%);
  background: var(--monkey-white);
  transition: var(--transition);
}

.monkey27:is(:hover, :focus)::before {
  transform: translateX(0);
}

.monkey27:is(:hover, :focus) {
  color: var(--monkey-orange);
  border-color: transparent;
}

.monkey29 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.monkey47 {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-600);
  line-height: 1.4;
}

.monkey48 {
  font-size: var(--fs-4);
  margin-bottom: 15px;
}

.monkey49 {
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 15px;
}

.monkey50 {
  color: var(--monkey-orange);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}

.monkey50:is(:hover, :focus) {
  gap: 10px;
}

.monkey53 {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 30px;
}

.monkey53::-webkit-scrollbar {
  height: 10px;
}

.monkey53::-webkit-scrollbar-track {
  background: var(--monkey-cream);
  border-radius: 10px;
}

.monkey53::-webkit-scrollbar-thumb {
  background: var(--monkey-orange);
  border-radius: 10px;
}

.monkey53::-webkit-scrollbar-button {
  width: 10px;
}

.monkey53 > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.monkey54 {
  background: var(--monkey-white);
  border-radius: 10px;
  box-shadow: var(--shadow-1);
  overflow: hidden;
}

.monkey55 {
  position: relative;
  aspect-ratio: 2 / 1.5;
}

.monkey56 {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--monkey-white);
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding: 3px 10px;
  border-radius: 4px;
}

.monkey57 {
  background: var(--monkey-orange);
}

.monkey58 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.monkey59 {
  color: var(--monkey-dark-brown);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--monkey-white);
  padding: 5px 10px;
  border-radius: 4px;
}

.monkey60 {
  padding: 24px;
}

.monkey61 {
  color: var(--monkey-orange);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-bottom: 5px;
}

.monkey61 strong {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.monkey62 {
  font-size: var(--fs-4);
  margin-bottom: 15px;
}

.monkey63 {
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 25px;
}

.monkey64 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.monkey65 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.monkey65 strong {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.monkey65 i {
  color: var(--monkey-orange);
  font-size: 24px;
}

.monkey65 span {
  color: var(--monkey-light-brown);
  font-size: var(--fs-7);
}

.monkey66 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 24px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
}

.monkey67 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.monkey68 {
  background: var(--monkey-cream);
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.monkey69 {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  margin-bottom: 5px;
  transition: var(--transition);
}

.monkey69:is(:hover, :focus) {
  color: var(--monkey-orange);
}

.monkey70 {
  color: var(--monkey-light-brown);
  font-size: var(--fs-7);
}

.monkey71 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.monkey72 {
  background: var(--monkey-cream);
  color: var(--monkey-dark-brown);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 50%;
  transition: var(--transition);
}

.monkey72:is(:hover, :focus) {
  background: var(--monkey-orange);
  color: var(--monkey-white);
}

.monkey74 {
  background: var(--monkey-cream);
  padding-block: var(--section-padding);
}

.monkey75 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.monkey75 > li {
  width: calc(50% - 10px);
}

.monkey76 {
  position: relative;
  background: var(--monkey-white);
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: var(--shadow-1);
}

.monkey76:is(:hover, :focus) {
  background: var(--monkey-orange);
}

.monkey76 .monkey77 {
  background: var(--monkey-beige);
  color: var(--monkey-orange);
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.monkey76 .monkey78 {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  text-align: center;
  transition: var(--transition);
}

.monkey76:is(:hover, :focus) .monkey78 {
  color: var(--monkey-white);
}

.monkey76 .monkey79 {
  background: var(--monkey-white);
  color: var(--monkey-light-brown);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px hsla(25, 76%, 31%, 0.1);
  transition: var(--transition);
}

.monkey76:is(:hover, :focus) .monkey79 {
  color: var(--monkey-orange);
}

.monkey80 {
  padding-block: var(--section-padding);
}

.monkey82 {
  box-shadow: var(--shadow-2);
}

.monkey82 .monkey83 {
  overflow: hidden;
  aspect-ratio: 2 / 1.5;
}

.monkey82 .monkey83 img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.monkey82:is(:hover, :focus) .monkey83 img {
  transform: scale(1.1);
}

.monkey84 {
  padding: 30px;
}

.monkey82 .monkey86 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.monkey82 :is(.monkey87, .monkey90) {
  color: var(--monkey-light-brown);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition);
}

.monkey82 :is(.monkey87, .monkey90) i {
  color: var(--monkey-orange);
}

.monkey82 .monkey87:is(:hover, :focus) {
  color: var(--monkey-orange);
}

.monkey88 {
  font-size: 1rem;
  --font-weight: var(--fw-600);
}

.monkey82 .monkey88:is(:hover, :focus) {
  color: var(--monkey-orange);
}

.monkey89 {
  padding-top: 20px;
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monkey82 .monkey91 {
  color: var(--monkey-orange);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  text-transform: uppercase;
}

.monkey92 {
  background: linear-gradient(to bottom, var(--monkey-white) 50%, var(--monkey-dark-brown) 50%);
}

.monkey93 {
  background: var(--monkey-orange);
  padding: 50px 25px;
  box-shadow: var(--shadow-2);
}

.monkey93 .monkey94 {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.monkey93 .monkey95 {
  color: var(--monkey-dark-brown);
  line-height: 1.3;
  margin-bottom: 15px;
}

.monkey93 .monkey96 {
  color: var(--monkey-dark-brown);
  font-size: var(--fs-5);
  line-height: 1.8;
}

.monkey97 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--monkey-black);
  background: var(--monkey-white);
  box-shadow: var(--shadow-2);
  border-color: var(--monkey-white);
  margin-inline: auto;
}

.monkey97:is(:hover, :focus) {
  background: none;
  color: var(--monkey-dark-brown);
  border-color: transparent;
}

.monkey97::before {
  background: var(--monkey-black);
}

.monkey98 {
  background: var(--monkey-dark-brown);
  color: var(--monkey-white);
  margin-bottom: 68px;
}

.monkey98 .monkey4 {
  padding-inline: 30px;
}

.monkey98 a {
  color: inherit;
}

.monkey99 {
  padding-top: 80px;
  padding-bottom: 40px;
}

.monkey100 {
  margin-bottom: 70px;
}

.monkey100 .monkey12 {
  margin-bottom: 15px;
}

.monkey101 {
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 45ch;
}

.monkey102 {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.monkey103 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.monkey103 i {
  font-size: 18px;
}

.monkey103 :is(address, span) {
  font-size: var(--fs-5);
  transition: var(--transition);
}

.monkey103:is(:hover, :focus) span {
  color: var(--monkey-orange);
}

.monkey104 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.monkey107:not(:last-child) {
  margin-bottom: 50px;
}

.monkey108 {
  font-family: var(--ff-poppins);
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
  margin-bottom: 15px;
}

.monkey109 {
  font-size: var(--fs-5);
  padding-block: 10px;
}

.monkey109:is(:hover, :focus) {
  color: var(--monkey-orange);
}

.monkey110 {
  background: var(--monkey-dark-green);
  padding-block: 25px;
}

.monkey111 {
  font-size: var(--fs-5);
  text-align: center;
}

.monkey111 a {
  display: inline-block;
}

.monkey111 a:is(:hover, :focus) {
  color: var(--monkey-orange);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.monkey1 {
  position: relative;
  z-index: 2;
}

.monkey2 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsla(0, 0%, 0%, 0.7);
  z-index: 1;
  transition: var(--transition);
  opacity: 0;
  pointer-events: none;
}

.monkey2.active {
  opacity: 1;
  pointer-events: all;
}

.monkey3 {
  background: var(--monkey-dark-brown);
  padding-block: 15px;
  color: var(--monkey-white);
}

.monkey5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px 20px;
  margin-bottom: 15px;
}

.monkey6 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.monkey6 i {
  font-size: 17px;
}

.monkey6:is(:hover, :focus) {
  color: var(--monkey-orange);
}

.monkey7 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.monkey8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.monkey9 {
  background: var(--monkey-dark-green);
  color: var(--monkey-white);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 14px;
  border-radius: 50%;
  transition: var(--transition);
}

.monkey9:is(:hover, :focus) {
  background: var(--monkey-orange);
}

.monkey10 {
  background: var(--monkey-orange);
  color: var(--monkey-white);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  padding: 8px 15px;
  border-radius: 4px;
  transition: var(--transition);
}

.monkey10:is(:hover, :focus) {
  background: var(--monkey-dark-green);
}

.monkey11 {
  background: var(--monkey-white);
  padding-block: 18px;
}

.monkey13 {
  background: var(--monkey-white);
  position: fixed;
  top: 0;
  right: -320px;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  z-index: 2;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
  visibility: hidden;
}

.monkey13.active {
  transform: translateX(-320px);
  visibility: visible;
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.monkey14 {
  background: var(--monkey-dark-brown);
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monkey15 {
  background: var(--monkey-white);
  color: var(--monkey-dark-brown);
  font-size: 22px;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.monkey16 {
  padding: 20px;
  height: calc(100vh - 85px);
  overflow-y: auto;
}

.monkey16::-webkit-scrollbar {
  width: 5px;
}

.monkey16::-webkit-scrollbar-track {
  background: transparent;
}

.monkey16::-webkit-scrollbar-thumb {
  background: var(--monkey-orange);
  border-radius: 5px;
}

.monkey17 {
  margin-bottom: 15px;
}

.monkey18 {
  color: var(--monkey-dark-brown);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  padding-block: 10px;
  transition: var(--transition);
}

.monkey18:is(:hover, :focus) {
  color: var(--monkey-orange);
}

.monkey19 {
  display: none;
}

.monkey20 {
  color: var(--monkey-dark-brown);
  font-size: 22px;
  display: grid;
  place-items: center;
  gap: 5px;
}

.monkey20 span {
  color: var(--monkey-light-brown);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.monkey21 {
  background: var(--monkey-cream);
  padding-block: 150px 60px;
}

.monkey22 {
  margin-bottom: 80px;
}

.monkey25 {
  max-width: 20ch;
  margin-bottom: 30px;
}

.monkey26 {
  color: var(--monkey-light-brown);
  font-size: var(--fs-5);
  line-height: 1.8;
  padding-left: 20px;
  border-left: 4px solid var(--monkey-orange);
  margin-bottom: 30px;
}

.monkey28 {
  max-width: max-content;
  margin-inline: auto;
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.monkey30 {
  padding-block: var(--section-padding);
}

.monkey31 {
  position: relative;
  margin-bottom: 40px;
}

.monkey32 {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50%;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

.monkey36 {
  max-width: 20ch;
  margin-bottom: 30px;
}

.monkey37 {
  color: var(--monkey-light-brown);
  font-size: var(--fs-5);
  line-height: 1.8;
  margin-bottom: 30px;
}

.monkey38 {
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
}

.monkey39 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.monkey40 {
  background: var(--monkey-orange);
  color: var(--monkey-white);
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
}

.monkey41 {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  line-height: 1.8;
}

.monkey42 {
  color: var(--monkey-dark-brown);
  font-family: var(--ff-poppins);
  font-size: var(--fs-5);
  font-weight: var(--fw-500);
  line-height: 1.8;
  border-inline-start: 5px solid var(--monkey-orange);
  padding: 15px;
  margin-bottom: 30px;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.monkey43 {
  background: var(--monkey-cream);
  padding-block: var(--section-padding);
}

.monkey44 {
  display: grid;
  gap: 30px;
  margin-top: 60px;
}

.monkey45 {
  background: var(--monkey-white);
  text-align: center;
  padding: 40px 30px;
  border-radius: 12px;
  transition: var(--transition);
}

.monkey45:is(:hover, :focus) {
  background: var(--monkey-orange);
  transform: translateY(-5px);
}

.monkey46 {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.monkey45:is(:hover, :focus) .monkey47 {
  color: var(--monkey-white);
}

.monkey45:is(:hover, :focus) .monkey49 {
  color: var(--monkey-white);
}

.monkey45:is(:hover, :focus) .monkey50 {
  color: var(--monkey-white);
}

/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.monkey51 {
  padding-block: var(--section-padding);
}

.monkey52 {
  margin-block: 40px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--monkey-orange);
  color: var(--monkey-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 10;
  box-shadow: var(--shadow-1);
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background: var(--monkey-dark-brown);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 1.875rem;
  }

  /**
   * REUSED STYLE
   */

  .monkey4 {
    max-width: 550px;
    margin-inline: auto;
  }

  .monkey53 {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .monkey53 > li {
    min-width: calc(50% - 12.5px);
  }

  /**
   * SERVICE
   */

  .monkey44 > li {
    width: calc(50% - 15px);
  }

  /**
   * PROPERTY
   */

  .monkey51 .monkey4 {
    max-width: unset;
    padding-inline: 25px;
  }

  /**
   * CTA
   */

  .monkey93 {
    --fs-2: 1.5rem;
  }

  /**
   * FOOTER
   */

  .monkey106 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;
  }

  /**
   * REUSED STYLE
   */

  .monkey4 {
    max-width: 720px;
  }

  .monkey27 {
    --fs-5: 1rem;
    padding: 12px 28px;
  }

  /**
   * HEADER
   */

  .monkey3 {
    padding-block: 5px;
  }

  .monkey3 .monkey7 {
    margin-left: auto;
  }

  .monkey8 {
    gap: 12px;
  }

  .monkey9 {
    font-size: 1rem;
  }

  .monkey10 {
    padding: 10px 20px;
  }

  .monkey19 {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .monkey11 .monkey4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .monkey20 i {
    margin-bottom: 0;
  }

  .monkey20 span {
    display: none;
  }

  .monkey20 {
    background: var(--monkey-white);
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
  }

  /**
   * HERO
   */

  .monkey22 {
    max-width: 400px;
  }

  /**
   * ABOUT
   */

  .monkey30 .monkey36 {
    max-width: 30ch;
  }

  .monkey37 {
    max-width: 55ch;
  }

  .monkey38 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FEATURES
   */

  .monkey75 > li {
    width: calc(33.33% - 13.33px);
  }

  .monkey76 {
    gap: 20px;
  }

  .monkey76 .monkey77 {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .monkey76 .monkey78 {
    --fs-6: 1.125rem;
  }

  /**
   * BLOG
   */

  .monkey82 {
    --fs-7: 0.875rem;
  }

  .monkey88 {
    font-size: 1.25rem;
  }

  .monkey80 .monkey86 {
    gap: 30px;
  }

  /**
   * CTA
   */

  .monkey93 {
    --fs-2: 1.625rem;
  }

  /**
   * FOOTER
   */

  .monkey98 {
    margin-bottom: 0;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 3.125rem;
    --fs-4: 1.375rem;
  }

  /**
   * REUSED STYLE
   */

  .monkey4 {
    max-width: 970px;
  }

  .monkey27 {
    padding: 15px 40px;
  }

  /**
   * HEADER
   */

  .monkey5,
  .monkey3 .monkey7 {
    gap: 30px;
  }

  /**
   * HERO
   */

  .monkey22 {
    max-width: unset;
    margin-bottom: 0;
  }

  .monkey21 .monkey4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  /**
   * ABOUT
   */

  .monkey30 .monkey4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .monkey31 {
    margin-bottom: 0;
  }

  .monkey31 > img {
    width: 100%;
  }

  /**
   * SERVICE
   */

  .monkey44 > li {
    width: calc(33.33% - 20px);
  }

  /**
   * PROPERTY
   */

  .monkey54 .monkey60 {
    padding-inline: 30px;
  }

  .monkey66 {
    padding: 20px 30px 30px;
  }

  /**
   * FEATURES
   */

  .monkey75 {
    column-gap: 30px;
  }

  .monkey75 > li {
    width: calc(25% - 30px);
  }

  /**
   * BLOG
   */

  .monkey88 {
    font-size: 1.375rem;
  }

  /**
   * CTA
   */

  .monkey93 {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .monkey93 :is(.monkey94, .monkey97) {
    margin: 0;
  }

  /**
   * FOOTER
   */

  .monkey99 .monkey4 {
    display: flex;
    justify-content: space-between;
  }

  .monkey100 {
    max-width: 300px;
    margin-bottom: 0;
  }

  .monkey106 {
    flex-basis: 550px;
  }
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 2.75rem;
    --fs-4: 1.5rem;
  }

  /**
   * REUSED STYLE
   */

  .monkey4 {
    max-width: 1200px;
  }

  .monkey53 > li {
    min-width: calc(33.33% - 16.66px);
  }

  /**
   * HEADER
   */

  .monkey11 {
    padding-block: 30px;
  }

  .monkey20:last-child,
  .monkey14,
  .monkey2 {
    display: none;
  }

  .monkey13,
  .monkey13.active {
    all: unset;
  }

  .monkey17 {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .monkey18 {
    color: var(--monkey-dark-brown);
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .monkey1 {
    padding-bottom: 114px;
  }

  .monkey11 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .monkey1.active .monkey11 {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px hsla(25, 76%, 31%, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  @keyframes slideDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  /**
   * HERO
   */

  .monkey26 {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }

  /**
   * FEATURES
   */

  .monkey76 .monkey77 {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .monkey76 .monkey78 {
    --fs-6: 1.375rem;
  }

  /**
   * CTA
   */

  .monkey93 {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }

  /**
   * FOOTER
   */

  .monkey98 {
    --fs-5: 1rem;
  }

  .monkey106 {
    flex-basis: 700px;
  }
}
